body {
  margin: 0;
  
}

* {
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

.main-container {
  height: 90vh;
  width: 100vw;
  background:rgb(202,202,202);
  color: #444;
  position: fixed;
  display: flex;
  
}
.backImage{
  height: 100%;
  width: 100vw;
   /* filter: blur(3Px); */
   filter: grayscale(50%)
}
.workplace{
margin: 0;
}
.playList{
  height:85%;
  width: 25vw;
  background-color:#fff;
  color: rgb(5, 5, 5);
  position: fixed;
  margin-top: 2%;
  margin-left: 2%;
  box-shadow: 0px 0px 50px 5px rgb(0, 0, 0);
}

.player{
  height: 85%;
  width: 60vw;
  background-color:#fff;
  color: rgb(5, 5, 5);
  position: fixed;
  top:5%;
  left:32%;

  box-shadow: 0px 0px 50px 5px rgb(0, 0, 0);
}

.music-playList{
  height: 10%;
  width: 100%;
  background-color: rgb(5, 5, 5);
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:xx-large;
  /* font-family: 'Times New Roman', Times, serif; */
 
}

.songs{
  height: 80%;
  width: 90%;
  background-color:rgb(5, 5, 5);
  color: #fff;
  position: relative;
  margin: 6%;
 
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  overflow-y: scroll;
}

.song-List,.song-List1{
  height: 5vh;
  width: 90%;
  display: flex;
  padding-left: 1vw;
  /* justify-content: center; */
  align-items: center;
  border-bottom: 1px solid #fff;
  overflow-x: hidden;
 
}

.song-List:hover,.song-List1:hover{
cursor: pointer;
background-color: #474f5277;
}

.details{
  height: 40vh;
  width: 100%;
  margin-top: 2vh;
  position: relative;
  /* margin-left: 2vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.now-playing{
  height: 1vh;
  width: 26vw;
  /* background-color: rgb(87, 150, 206); */
  display: flex;
  justify-content: center;
  align-items: center;

}
.image-container{
  height: 45vh;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.track-art{
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  box-shadow: 0px 0px 50px 5px rgb(0, 0, 0);
  background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.track-name{
  margin-top: 3vh;
  height: 3vh;
  width: 26vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bolder;
 
}

.track-artist{
  height: 3vh;
  width: 26vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  font-size:large;
}



.buttons{
  height: 10vh;
  width: 100%;
  margin-top: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.playpause-track, .prev-track, .next-track, .shuffle, .repeat-one {
  padding: 25px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Smoothly transition the opacity */
  transition: opacity .2s;
}

.slider_container{
  height: 15vh;
  width: 26vw;
  margin-top: 5vh;
  margin-left: 2vw;
  display: flex;
 
 
}
.slider_container1{
  height: 10vh;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider_container2{
  height: 10vh;
  width: 20vw;
  transform: rotate(-90deg);
  position: absolute;
  top: 70%;
  left: 75%;

  display: flex;
  justify-content: center;
  align-items: center;
}


.seek_slider, .volume_slider {
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  /* opacity: 0.7; */
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: rgb(218, 215, 215);
  cursor: pointer;
  border-radius: 50%;
}

.seek_slider:hover, .volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 60%;
}

.volume_slider {

  width: 30%;
}

.current-time, .total-duration {
  padding: 10px;
}

i.fa-volume-down, i.fa-volume-up {
  padding: 10px;
}

i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward, i.fa-random{
  cursor: pointer;
  color: black;
}

.open{
  position: fixed;
  top: 7%;
  left:5%;
  transform: scale(2);
  background-color: #fff;
  color: black;
}

.open:hover,.material-icons:hover{
  cursor: pointer;  
  background-color: #fff;
  color: rgb(136, 136, 136);
}

.icon:hover{
  color : rgb(136, 136, 136);
}

#reading,#mute-unmute,.fa-volume-up,.fa-volume-down{
  transform: rotate(90deg);
}
#reading{
  width:  2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

div#heading{
  padding-left: 2rem;
  display:flex;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background: black;
  text-transform: capitalize;
  font-size:xx-large;
  color : white;
  font-weight: bolder;
}

.span{
  margin-top: 2px;
  height: 9vh;
  width: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 2vw;
  background : linear-gradient(rgb(0, 198, 248),rgb(238, 106, 106), rgb(228, 225, 65))
;}

.dmnsn{
  height: 7vh;
  width: 7vw;
}

.anime{
  animation: rotateplayer 3s linear infinite;
}

@keyframes rotateplayer {
  from{
    transform: rotate(360deg);
  }
  to{
    transform: rotate(0deg);
  }
}

.plus-sign,.minus-sign{

  position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right:0;
  height: 5vh;
  width: 10%;
  border-bottom: 1px solid #fff;
}

.plus-sign:hover,.minus-sign:hover{
  cursor: pointer;
  background-color: #0ff;
}
.song-List00,.song-List11{
  width: 93%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content:flex-start;

}